.myAppDemoWT .myCustomText {
  display: inline-block;
  font-weight: bold;
  margin-right: 0.25rem;
  
}

.myAppDemoWT .myCustomTaskText {
  display: inline-block;
  margin-right: 0.25rem;
  
}

.myAppDemoWT .marginRight {
  margin-right: 0.50rem;
  
}
